
# Basic
*$py.class
build/
.cache
.cache/
celerybeat-schedule
*,cover
*.cover
.coverage
.coverage.*
coverage.xml
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
.dmypy.json
dmypy.json
docs/_build/
downloads/
.DS_Store
*.egg
*.egg-info/
.eggs/
eggs/
.env
env*
env/
.flaskenv
htmlcov/
.hypothesis/
.idea/
.installed.cfg
lib/
lib64/
local_settings.py
*.log
_mailinglist
*.manifest
MANIFEST
media
*.mo
.mr.developer.cfg
.mypy_cache/
nosetests.xml
.nox/
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
*.pot
.project
*.pyc
__pycache__/
*.py[cod]
.pydevproject
*.pyo
.pyre/
.pytest_cache/
.Python
.python-version
.ropeproject
*.sage.py
.scrapy
sdist/
share/python-wheels/
/site
*.so
*.spec
.spyderproject
.spyproject
target/
.tox/
var/
.vscode
wheels/
