 <h3>Хуигроки:</h3>

<span *ngIf="state.users.length === 0">Нихера тут пусто</span>
<table>
  <tr *ngFor="let user_ of sortedUsers; let i = index;">
    <td>
      {{i + 1}}.
      <span
        *ngIf="admin" (click)="emitKickUser(user_)"
        style="user-select: none; cursor: pointer;"
      >[X]</span>
    </td>
    <td>
      <mark *ngIf="user && user.user_id == user_.user_id; else userNameElse">
        <ng-container *ngTemplateOutlet="userNameElse"></ng-container>
      </mark>
      <ng-template #userNameElse>
        <span style="cursor: pointer; user-select: none" (click)="showUser(user_)">{{user_.user_name}}</span>
      </ng-template>
    </td>
    <td><b>{{user_.score}}</b></td>
    <td *ngIf="admin && unlocked">
      <button *ngIf="userIdFrom === undefined" (click)="setUserFrom(user_)">Обяъсняй!</button>
      <button
        *ngIf="userIdFrom !== undefined && userIdFrom != user_.user_id && userIdTo === undefined"
        (click)="setUserTo(user_)">Понимай!</button>
      <span *ngIf="userIdFrom !== undefined && userIdFrom == user_.user_id">объясняет</span>
      <span *ngIf="userIdTo !== undefined && userIdTo == user_.user_id">понимает</span>
    </td>
  </tr>
</table>
<div *ngIf="admin && unlocked">&nbsp;
  <div *ngIf="userNameFrom">
    Объяснять будет: {{userNameFrom}}
    <div *ngIf="userNameTo">
      Понимать будет: {{ userNameTo }}
    </div>
    <div>
      <button (click)="resetUserId()">НЕТ!</button>&nbsp;
      <button (click)="emitRound()" *ngIf="userNameTo">ПОЕХАЛИ!</button>
    </div>
  </div>
</div>
